@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

.navigation {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin: 0;
  padding: 0;
  width: 25vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navUl {
  height: 10vh;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  margin-bottom: 0;
}

.navLi {
  text-decoration: none;
  color: #5fa28f;
}