@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

.navigation {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: auto;
  width: 10vw;
}

.navUl {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  margin-right: 30px;
}

.navLi {
  text-decoration: none;
  color: black;
}