@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.topPart {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  max-height: 130px;
}

.open {
  height: 10vh;
  width: 35vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
  margin-bottom: 0;
}

.closed {
  display: none;
}

.navLi {
  text-decoration: none;
  color: #5fa28f;
}