.container {
    display: flex;
    height: 90vh;
}

.textArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}

.textArea p {
    margin: auto;
    width: 80%;
}