.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 75vh;
}

.textArea {
    text-align: start;
    width: 50vw;
}

.imgcontainer {
    max-width: 30vw;
}
